name: "projet-fil-rouge"
services:
  api:
    build:
      context: "."
    ports:
      - "3000:3000"
    networks:
      - back
    depends_on:
      db:
        condition: service_healthy
        restart: true
  db:
    image: "mysql:5.7"
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=todolist_db
    ports:
      - "3306:3306"
    networks:
      - back
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

networks:
  back:
 