name: CI/CD Todo List

on:
  push:
    branches: [ajout-workflow-cicd]
  pull_request:
    branches: [ajout-workflow-cicd]
  workflow_dispatch:

jobs:
  unit-and-integration-tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env: 
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: todolist_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        env: 
          DB_HOST: 127.0.0.1
          DB_USER: root
          DB_PASSWORD: rootpassword
          DB_NAME: todolist_db
          DB_DIALECT: mysql
          PORT: 3000
        run: npm test
          
